@model EvidencePojisteni.Models.Insurances.InsuranceView

@{
    ViewData["Title"] = "Odstranění pojištění";
}

<h2 class="font-weight-bold">Odstranění pojištění</h2>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.InsuranceName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.InsuranceName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.InsuranceDescription)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.InsuranceDescription)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.InsuranceImage)
        </dt>
        <dd class="col-sm-9">
            <img src="~/images/insurances/@Model.ExistingImage" class="img-thumbnail" height="100" width="400" asp-append-version="true" />
        </dd>
    </dl>

    <div class="text-center">
        <button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#dialog">
            Odstranit
        </button>
    </div>
</div>

<div class="modal fade" id="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialog-label">Opravdu chcete vymazat dané pojištění?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zavřít">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="InsuranceId" />
                    <input type="submit" value="Odstranit" class="btn btn-danger" />
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
            </div>
        </div>
    </div>
</div>
