@using EvidencePojisteni.Extensions;

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Evidence pojištěni</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?v=@Guid.NewGuid().ToString()" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Evidence pojištěni</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (this.Context.User.IsInRole("Admin"))
                        {
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString()=="Insureds"?"nav-item active":"nav-item")">
                                <a class="nav-link" asp-area="" asp-controller="Insureds" asp-action="Index">Pojištěnci</a>
                            </li>
                        }
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString()=="Insurances"?"nav-item dropdown active":"nav-item dropdown")">
                            <a class="nav-link" asp-area="" asp-controller="Insurances" asp-action="Index">Pojištění</a>
                        </li>
                        @if (this.Context.User.Identity.IsAuthenticated)
                        {
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString()=="InsuranceEvents"?"nav-item active":"nav-item")">
                                <a class="nav-link" asp-area="" asp-controller="InsuranceEvents" asp-action="Index">Pojistné události</a>
                            </li>
                        }
                        else
                        {
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString()=="InsuranceEvents"?"nav-item active":"nav-item")">
                                <a class="nav-link" asp-area="" asp-controller="InsuranceEvents" asp-action="Create">Nahlásit pojistnou událost</a>
                            </li>
                        }
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString()==""?"nav-item active":"nav-item")">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">O aplikaci</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container bg-light">
        <div>
            @Html.RenderFlashMessages()
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2022 - Projekt v rámci rekvalifikačního kurzu od <a href="https://www.itnetwork.cz/menu/kurzy/menu-rekvalifikacni-kurzy" target="blank">itnetwork.cz</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
