@model EvidencePojisteni.Models.AssignedInsurances.AssignedInsurancesToPolicyholders

@{
    ViewData["Title"] = "Odstranění přiřazení pojištění";
}

<h2 class="font-weight-bold">Opravdu chcete vymazat přiřazené pojištění</h2>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Insured)
        </dt>
        <dd class="col-sm-9">
            @{
                var fullNamePolicyholder = Model.Insured.FirstName + " " + Model.Insured.SurName;
                @Html.DisplayFor(model => fullNamePolicyholder)
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AssignedInsurance.Insured)
        </dt>
        <dd class="col-sm-9">
            @{
                var fullName = Model.AssignedInsurance.Insured.FirstName + " " + Model.AssignedInsurance.Insured.SurName;
                @Html.DisplayFor(model => fullName)
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AssignedInsurance.Insurance.InsuranceName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AssignedInsurance.Insurance.InsuranceName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AssignedInsurance.Issue)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AssignedInsurance.Issue)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AssignedInsurance.Value)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AssignedInsurance.Value)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AssignedInsurance.ValidFrom)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AssignedInsurance.ValidFrom)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AssignedInsurance.ValidTo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AssignedInsurance.ValidTo)
        </dd>
    </dl>

    <form asp-action="Delete" class="text-center">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Odstranit" class="btn-lg btn-danger" />
    </form>
</div>
