@model EvidencePojisteni.Models.AssignedInsurances.AssignedInsurancesToPolicyholders

@{
    ViewData["Title"] = "Odstranění přiřazení pojištění";
}

<h2 class="font-weight-bold">Odstranění přiřazení pojištění</h2>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Insured)
        </dt>
        <dd class="col-sm-9">
            @{
                var fullNamePolicyholder = Model.Insured.FirstName + " " + Model.Insured.SurName;
                @Html.DisplayFor(model => fullNamePolicyholder)
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AssignedInsurance.Insured)
        </dt>
        <dd class="col-sm-9">
            @{
                var fullName = Model.AssignedInsurance.Insured.FirstName + " " + Model.AssignedInsurance.Insured.SurName;
                @Html.DisplayFor(model => fullName)
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AssignedInsurance.Insurance.InsuranceName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AssignedInsurance.Insurance.InsuranceName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AssignedInsurance.Issue)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AssignedInsurance.Issue)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AssignedInsurance.Value)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AssignedInsurance.Value)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AssignedInsurance.ValidFrom)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AssignedInsurance.ValidFrom)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AssignedInsurance.ValidTo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AssignedInsurance.ValidTo)
        </dd>
    </dl>

    <div class="text-center">
        <button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#dialog">
            Odstranit
        </button>
    </div>
</div>

<div class="modal fade" id="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialog-label">Opravdu chcete odstranit toto přiřazení pojištění k danému pojistníkovi?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zavřít">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Odstranit" class="btn btn-danger" />
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
            </div>
        </div>
    </div>
</div>
